@font-face {
    font-family: 'chords';
    src:    url('fonts/chords.eot?v5kcvr');
    src:    url('fonts/chords.eot?v5kcvr#iefix') format('embedded-opentype'),
        url('fonts/chords.woff2?v5kcvr') format('woff2'),
        url('fonts/chords.ttf?v5kcvr') format('truetype'),
        url('fonts/chords.woff?v5kcvr') format('woff'),
        url('fonts/chords.svg?v5kcvr#chords') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="label-"], [class*=" label-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'chords' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.label-As_7:before {
    content: "\e948";
}
.label-As_maj:before {
    content: "\e949";
}
.label-As_maj7:before {
    content: "\e94a";
}
.label-As_min:before {
    content: "\e94b";
}
.label-As_min7:before {
    content: "\e94c";
}
.label-As_sus4:before {
    content: "\e94d";
}
.label-Db_7:before {
    content: "\e94e";
}
.label-Db_maj:before {
    content: "\e94f";
}
.label-Db_maj7:before {
    content: "\e950";
}
.label-Db_min:before {
    content: "\e951";
}
.label-Db_min7:before {
    content: "\e952";
}
.label-Db_sus4:before {
    content: "\e953";
}
.label-Ds_7:before {
    content: "\e954";
}
.label-Ds_maj:before {
    content: "\e955";
}
.label-Ds_maj7:before {
    content: "\e956";
}
.label-Ds_min:before {
    content: "\e957";
}
.label-Ds_min7:before {
    content: "\e958";
}
.label-Ds_sus4:before {
    content: "\e959";
}
.label-Gb_7:before {
    content: "\e95a";
}
.label-Gb_maj:before {
    content: "\e95b";
}
.label-Gb_maj7:before {
    content: "\e95c";
}
.label-Gb_min:before {
    content: "\e95d";
}
.label-Gb_min7:before {
    content: "\e95e";
}
.label-Gb_sus4:before {
    content: "\e95f";
}
.label-Gs_7:before {
    content: "\e960";
}
.label-Gs_maj:before {
    content: "\e961";
}
.label-Gs_maj7:before {
    content: "\e962";
}
.label-Gs_min:before {
    content: "\e963";
}
.label-Gs_min7:before {
    content: "\e964";
}
.label-Gs_sus4:before {
    content: "\e965";
}
.label-A_7:before {
    content: "\e900";
}
.label-A_maj:before {
    content: "\e901";
}
.label-A_maj7:before {
    content: "\e902";
}
.label-A_min:before {
    content: "\e903";
}
.label-A_min7:before {
    content: "\e904";
}
.label-A_sus4:before {
    content: "\e905";
}
.label-Ab_7:before {
    content: "\e906";
}
.label-Ab_maj:before {
    content: "\e907";
}
.label-Ab_maj7:before {
    content: "\e908";
}
.label-Ab_min:before {
    content: "\e909";
}
.label-Ab_min7:before {
    content: "\e90a";
}
.label-Ab_sus4:before {
    content: "\e90b";
}
.label-B_7:before {
    content: "\e90c";
}
.label-B_maj:before {
    content: "\e90d";
}
.label-B_maj7:before {
    content: "\e90e";
}
.label-B_min:before {
    content: "\e90f";
}
.label-B_min7:before {
    content: "\e910";
}
.label-B_sus4:before {
    content: "\e911";
}
.label-Bb_7:before {
    content: "\e912";
}
.label-Bb_maj:before {
    content: "\e913";
}
.label-Bb_maj7:before {
    content: "\e914";
}
.label-Bb_min:before {
    content: "\e915";
}
.label-Bb_min7:before {
    content: "\e916";
}
.label-Bb_sus4:before {
    content: "\e917";
}
.label-C_7:before {
    content: "\e918";
}
.label-C_maj:before {
    content: "\e919";
}
.label-C_maj7:before {
    content: "\e91a";
}
.label-C_min:before {
    content: "\e91b";
}
.label-C_min7:before {
    content: "\e91c";
}
.label-C_sus4:before {
    content: "\e91d";
}
.label-Cs_7:before {
    content: "\e91e";
}
.label-Cs_maj:before {
    content: "\e91f";
}
.label-Cs_maj7:before {
    content: "\e920";
}
.label-Cs_min:before {
    content: "\e921";
}
.label-Cs_min7:before {
    content: "\e922";
}
.label-Cs_sus4:before {
    content: "\e923";
}
.label-D_7:before {
    content: "\e924";
}
.label-D_maj:before {
    content: "\e925";
}
.label-D_maj7:before {
    content: "\e926";
}
.label-D_min:before {
    content: "\e927";
}
.label-D_min7:before {
    content: "\e928";
}
.label-D_sus4:before {
    content: "\e929";
}
.label-E_7:before {
    content: "\e92a";
}
.label-E_maj:before {
    content: "\e92b";
}
.label-E_maj7:before {
    content: "\e92c";
}
.label-E_min:before {
    content: "\e92d";
}
.label-E_min7:before {
    content: "\e92e";
}
.label-E_sus4:before {
    content: "\e92f";
}
.label-Eb_7:before {
    content: "\e930";
}
.label-Eb_maj:before {
    content: "\e931";
}
.label-Eb_maj7:before {
    content: "\e932";
}
.label-Eb_min:before {
    content: "\e933";
}
.label-Eb_min7:before {
    content: "\e934";
}
.label-Eb_sus4:before {
    content: "\e935";
}
.label-F_7:before {
    content: "\e936";
}
.label-F_maj:before {
    content: "\e937";
}
.label-F_maj7:before {
    content: "\e938";
}
.label-F_min:before {
    content: "\e939";
}
.label-F_min7:before {
    content: "\e93a";
}
.label-F_sus4:before {
    content: "\e93b";
}
.label-Fs_7:before {
    content: "\e93c";
}
.label-Fs_maj:before {
    content: "\e93d";
}
.label-Fs_maj7:before {
    content: "\e93e";
}
.label-Fs_min:before {
    content: "\e93f";
}
.label-Fs_min7:before {
    content: "\e940";
}
.label-Fs_sus4:before {
    content: "\e941";
}
.label-G_7:before {
    content: "\e942";
}
.label-G_maj:before {
    content: "\e943";
}
.label-G_maj7:before {
    content: "\e944";
}
.label-G_min:before {
    content: "\e945";
}
.label-G_min7:before {
    content: "\e946";
}
.label-G_sus4:before {
    content: "\e947";
}

